@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Open Sans", sans-serif;
}


.tab {
    color: black !important;
  }
  .tab-active {
    color: black !important;
  }

  .vr-banner {
    background-image: url('/topBanner_extended_2560.jpg');
    background-size: cover;
    background-position: center;
  }


input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"].no-spinner {
  -moz-appearance: textfield;
}

  
  
  